apiVersion: v1
kind: Secret
metadata:
  name: ceph-secret-kuber
  namespace: kube-system
type: "kubernetes.io/rbd"
data:
  key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  # ceph auth print-key client.kuber | base64
